#logo {
  border-radius: 40%;
}
#loginBar {
  display: flex;
}
#loggedUser {
  color: white;
  padding-right: 10px;
  margin: auto;
}
body {
  background-image: url(../images/duko.jpg);
  background-size: cover;
  background-color: 0.5;
}

li{
  width: fit-content;
}
.prodForm{
  display: flex;
  
}
#prodStock{
  justify-content: center;
  background-color: white;
  border: solid lightgray 1px;
  border-radius: 5%;
  margin: 5px;
  padding: 5px;
}