#logo {
  border-radius: 40%;
}
#loginBar {
  display: flex;
}
#loggedUser {
  color: white;
  padding-right: 10px;
  margin: auto;
}
body {
  background-image: url(../images/duko.jpg);
  background-size: cover;
  background-color: 0.5;
}

li{
  width: fit-content;
}
