#logo {
  border-radius: 40%;
}

#loginBar {
  display: flex;
}

#loggedUser {
  color: white;
  padding-right: 10px;
  margin: auto;
}

body {
  background-image: url(../images/dukosinaguaxd.png);
  background-size: 100%;
  background-color: 0.5;
  opacity: 90%;
}

li {
  width: fit-content;
}

.prodForm {
  display: flex;
}

#prodStock {
  justify-content: center;
  background-color: white;
  border: solid lightgray 1px;
  border-radius: 5%;
  margin: 5px;
  padding: 5px;
}

#marcaCont {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

h3,
h2 {
  border: solid black 1px;
  border-radius: 5%;
  width: fit-content;
  background-color: white;
}

.prodContainer {
  border-radius: 10%;
  background-color: azure;
  width: fit-content;
  padding: 10px;
  margin-left: 5px;
}
.fileCont{
  background-color: rgb(181, 255, 255);
  width: fit-content;
  margin-left: 5px;
}
.sneakerImg{
  width: 250px;
}
.dissapear{
  display: none;
}
#filterCont{
  display: flex;
  width: fit-content;
  padding: 10px;
}

.warning{
  background-color: orange;
}